{{set . "title" "Home"}}
{{template "header.html" .}}
<div ng-controller="HomepageCtrl"  style="max-height:820px;margin:auto;" >

<div style="width:100%; margin:auto; text-align:center;">
    <canvas id="myCanvas"  width="500" height="850"
    style="margin-top:100px;border:3px solid #000000;display:inline-block;">
    </canvas>

    <div style="width:210px;display:inline-block; text-align:center;border: 2px solid red;">
        <button type="button" class=" btn-success btn-lg" style="margin-bottom:25px;" ng-click="console.log('mew');" disabled="[[!scope.game_over]]">Start Game</button>

        <div class="btn-group" style="">
    <button type="button" class="btn btn-default" ng-click="teams = 1">1 Team</button>
    <button type="button" class="btn btn-default" ng-click="teams = 2">2 Teams</button>
  </div>
       <canvas id="myCanvas2"  width="200" height="200"
      style="margin-top:100px;border:3px solid #000000; margin-bottom:300px">
      </canvas>
    </div>


   <canvas id="myCanvas3" ng-show="teams == 2" width="500" height="850"
    style="margin-top:100px;border:3px solid #000000;display:inline-block;">
    </canvas>

    <div class="container">
      <div class="row">
        <div class="span6">
          {{template "flash.html" .}}
        </div>
      </div>
    </div>
</div>
</div>

{{template "footer.html" .}}
